<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Loja</title>
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet" />
</head>
<body>
    <!-- Cabeçario -->
    <header>
        <div class="flex-container menu">
        <div><h1>Minha Loja</h1></div>
            <ul class="list-itens">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('diferenciais') }}">Diferenciais</a></li>
                <li><a href="{{ url_for('produtos') }}">Produtos</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </div>    
    </header>
    {% block container %}
    {% endblock %}
    <!-- Rodapé -->
    <footer >
        <div class="flex-container footer" >
            <p>&copy; 2023 </p>
            <p>Desenvolvido por: Elivélton Alcântara</p> 
        </div>
    </footer>
</body>
</html>