{% extends '_base.html' %}
{% block container %}

<div class="container-externo">
    <div class="flex-container" id="diferenciais">
        <div>
            <h2>Diferenciais</h2>
        </div>

        <div class="list-diferenciais">
            
            <div class="item-diferenciais">
                <div><img src="./static/images/icon-2.png" alt="hospedagens"></div>
                <p>Ótima estrutura</p>
            </div>

            <div class="item-diferenciais">
               <div><img src="./static/images/icon-1.png" alt="pacote de viagens"></div>
               <p>Entrega no mundo todo</p>
            </div>

            <div class="item-diferenciais">
                <div><img src="./static/images/icon-3.png" alt="roteiros personalizados"></div>
                <p>Melhor Localização</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}