<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Loja</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <header>
        <div class="flex-container menu">
        <div><h1>Minha Loja</h1></div>
            <ul class="list-itens">
                <li><a href="#quem-somos">Quem Somos</a></li>
                <li><a href="#produtos">Produtos</a></li>
                <li><a href="#login">Login</a></li>
            </ul>
        </div>
    
    </header>

    <div class="flex-container apresentacao">
        <div class="texto-apresentacao">
            <h1>Minha <br>Loja</h1>
            <p>O melhor serviço de e-commerce!</p>
            <a href="" class="btn">Saiba Mais!</a>
        </div>

        <div>
            <div><img src="./static/images/banner.png" alt="banner de apresentação"></div>
        </div>
    </div>

    <div class="container-externo">
        <div class="flex-container" id="servicos">
            <div>
                <h2>Diferenciais</h2>
            </div>
    
            <div class="list-servicos">
                <div class="item-servico">
                    <div><img src="./static/images/icon-2.png" alt="hospedagens"></div>
                    <p>Ótima estrutura</p>
                    <a href="#">Comprar Agora</a>
                </div>
    
                <div class="item-servico">
                   <div><img src="./static/images/icon-1.png" alt="pacote de viagens"></div>
                   <p>Entrega no mundo todo</p>
                   <a href="#">Comprar Agora</a>
                </div>
    
                <div class="item-servico">
                    <div><img src="./static/images/icon-3.png" alt="roteiros personalizados"></div>
                    <p>Melhor Localização</p>
                    <a href="#">Comprar Agora</a>
                </div>
    
            </div>
        </div>
    </div>

    <div class="flex-container" id="planos">

        <div><h2>Produtos</h2></div>

        <div class="list-planos">            
            <div class="item-plano">
                <h3>Produto 1</h3>
                <img src="./static/images/placa_de_video.png" alt="Nome do produto">
                <a href="#" class="btn">Comprar</a>
            </div>

            <div class="item-plano">
                <h3>Produto 2</h3>
                <img src="./static/images/memoria.png" alt="Nome do produto">
                <a href="#" class="btn">Comprar</a>
            </div>

            <div class="item-plano">
                <h3>Produto 3</h3>
                <img src="./static/images/walter_cooler.png" alt="Nome do produto">
                <a href="#" class="btn">Comprar</a>
            </div>
        </div>
    </div>

    <footer >
        <div class="flex-container footer" >
            <p>&copy; 2023 </p>
            <p>Desenvolvido por: Elivélton Alcântara</p> 
        </div>
    </footer>
</body>
</html>